@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --mainBackgroundColor: #595457;
  --darkerBackgroundColor: #353133;
  --textColor: #d6d6d6;
  --hoverColor: #4D6CFA;
  --accentColor: #610522;
  --boxShadowColor: #353133;
}

* {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  gap: 120px;
  height: 100%;
  background-color: var(--mainBackgroundColor);
  font-family: 'Roboto', sans-serif;
  color: var(--textColor);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color: var(--darkerBackgroundColor);
}

.headerNav {
  display: flex;
  align-items: center;
  margin-left: 18px;
  gap: 18px;
}

.navLink {
  text-decoration: none;
  color: var(--textColor);
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  transition: color 0.5s;
}

.navLink:hover {
  color: var(--hoverColor);
}

.cv {
  padding-right: 20px;
}

.greetingsBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.greetingsBlock_title {
  font-size: 60px;
}

.greetingsBlock_subTitle {
  font-size: 30px;
}

.knowledgeBlock {
  flex: 1 0 auto;
  margin: 0 auto;
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 30px;
  margin-bottom: 100px;
}

.knowledgeStack, .knowledgeTools, .knowledgeEducation, .knowledgeMe {
  box-sizing: border-box;
  padding: 20px;
  text-align: center;
  max-width: 250px;
  background-color: var(--darkerBackgroundColor);
  border: 2px solid var(--accentColor);
  border-radius: 8px;
  box-shadow: 6px 6px var(--boxShadowColor);
  transition: scale 0.5s, box-shadow 0.5s;
}

.knowledgeStack:hover, .knowledgeTools:hover, .knowledgeEducation:hover, .knowledgeMe:hover {
  scale: 1.1;
  box-shadow: 8px 8px var(--boxShadowColor);
}

.blockTitle {
  padding-bottom: 30px;
  text-shadow: 2px 2px var(--accentColor);
}

@media screen and (max-width: 1024px) {
  .knowledgeBlock {
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
  }

  .knowledgeStack, .knowledgeTools, .knowledgeEducation, .knowledgeMe {
    scale: 1.1;
  }
}

@media screen and (max-width: 600px) {
  .header {
    height: 100px;
    font-size: 25px;
  }

  .knowledgeBlock {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 100px;
  }

  .knowledgeStack, .knowledgeTools, .knowledgeEducation, .knowledgeMe {
    scale: 1.3;
  }
}
