@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --mainBackgroundBlack: #000000;
  --lighterBackgroundBlack: #2c2c3a;
  --evenDarkerBackgroundBlack: #0c0c0f;
  --textSilver: #d6d6d6;
  --hoverGreen: #32936f;
  --perfectBlue: #0051ff;
  --boxShadowPink: #c86fc9;
}

* {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  gap: 120px;
  height: 100%;
  background-color: var(--mainBackgroundBlack);
  font-family: 'Roboto', sans-serif;
  color: var(--textSilver);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color: var(--lighterBackgroundBlack);
}

.headerNav {
  display: flex;
  align-items: center;
  margin-left: 18px;
  gap: 18px;
}

.navLink {
  text-decoration: none;
  color: var(--textSilver);
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  transition: color 0.5s;
}

.navLink-linkedIn {
  pointer-events: none;
  color: gray;
}

.navLink:hover {
  color: var(--hoverGreen);
}

.greetingsBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.greetingsBlock_title {
  font-size: 60px;
}

.greetingsBlock_subTitle {
  font-size: 30px;
}

.knowledgeBlock {
  flex: 1 0 auto;
  margin: 0 auto;
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 30px;
}

.knowledgeStack, .knowledgeTools, .knowledgeEducation, .knowledgeMe {
  box-sizing: border-box;
  padding: 20px;
  text-align: center;
  max-width: 250px;
  background-color: var(--evenDarkerBackgroundBlack);
  border: 2px solid var(--perfectBlue);
  border-radius: 8px;
  box-shadow: 8px 8px var(--boxShadowPink);
}

.blockTitle {
  padding-bottom: 30px;
  text-shadow: 2px 2px var(--perfectBlue);
}

@media screen and (max-width: 1024px) {
  .knowledgeBlock {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 30px;
  }
}

@media screen and (max-width: 600px) {
  .knowledgeBlock {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 30px;
  }
}

.contactsBlock {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  height: 30px;
  line-height: 30px;
  background-color: var(--evenDarkerBackgroundBlack);
}

.cvLink {
  text-decoration: none;
  color: var(--textSilver);
  transition: color 0.3s;
}

.cvLink:hover {
  color: var(--hoverGreen);
}
